.App-main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App-postForm {
  margin-top: 40px;
  width: 600px;
}

.App-postFormActions {
  display: flex;
  justify-content: space-between;
}

.App-posts {
  margin-top: 40px;
  width: 600px;
}
